<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${userModel.title}">Thymeleaf Demo</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<h3 th:text="${userModel.title}">Title</h3>
<form action="/users" method="POST" th:object="${userModel.user}">
    <input type="hidden" name="id" th:value="*{id}">
    姓名:<br>
    <input type="text" name="name" th:value="*{name}">
    <br>
    密码:<br>
    <input type="password" name="password" th:value="*{password}">
    <br>
    年龄:<br>
    <input type="text" name="age" th:value="*{age}">
    <br>
    性别:<br>
    <input type="text" name="gender" th:value="*{gender}">
    <br>
    <input type="submit" value="提交">
</form>

<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>